.header{
	height: 95vh;
	background-image:linear-gradient(
		to right bottom,
		rgba($color-lightGreen,0.8),rgba($color-darkGreen,.8)),
	url("../img/hero.jpg");
	background-size:cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position:relative;

	@include respond(phone){
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		
	}
}

.logo-img{
	position:absolute;
	top:40px;
	left:40px;
	img{
		height: 35px;
	}
}

.abt-section{
	background:$color-grey-light1;
	padding:25rem 0;
	margin-top:-20vh;

	@include respond(tab-port){
		padding:20rem 0;
	}
}

.feature-section{
	background-image:linear-gradient(
		to right bottom,
		rgba($color-lightGreen,0.8),rgba($color-darkGreen,.8)),
	url("../img/nat-4.jpg");
	background-size:cover;
	padding:20rem 0;
	transform: skewY(-7deg);
	margin-top: -10rem;

	&>*{
		transform:skewY(7deg);
	}

	@include respond(tab-port){
		padding:10rem 0;
	}
}

.tours-section{
	text-align: center;
	background:$color-grey-light1;
	padding:25rem 0 15rem 0;
	margin-top:-10rem;

	@include respond(tab-port){
		padding:20rem 0 10rem 0;
	}
}

.stories-section{
	padding:15rem 0;
	position:relative;

	@include respond(tab-port){
		padding:10rem 0;
	}

}

.booking-section{
	padding:15rem 0;
	background-image: linear-gradient
	(to right bottom, 
		$color-lightGreen, 
		$color-darkGreen);
	@include respond(tab-port){
		padding:10rem 0;
	}
}

.book{
	//solid gradient
	background-image:linear-gradient(105deg,
	 rgba($color-white,.8) 0%,
	 rgba($color-white,.8) 50%,
	 transparent 50%,transparent 100%),
	url(../img/nat-10.jpg);

	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black,.15);

	@include respond(tab-land){
		background-image:linear-gradient(105deg,
		 rgba($color-white,.8) 0%,
		 rgba($color-white,.8) 65%,
		 transparent 65%),
		url(../img/nat-10.jpg);
	}

	@include respond(tab-port){
		background-image:linear-gradient(to right,
		 rgba($color-white,.8) 0%,
		 rgba($color-white,.8) 100%),
		url(../img/nat-10.jpg);
	}

	&__form{
		width:50%;
		padding:6rem;

		@include respond(tab-land){
			width:65%;
		}

		@include respond(tab-port){
			width:100%;
		}
	}
}